@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cl-white: #fff;
    --font: 18px
}

body{
    background: linear-gradient(180deg, #F2F1FD 0%, #D9D9E3 15.38%, #C6C5D4 29.29%, #F9F0ED 35.15%);
}

.text{
    font-weight: 400;
    font-family: 'Nunito';
    font-size: var(--font);
    margin: 10px auto 20px;
    display: block;
}


.text_title{
    font-family: 'Montserrat';
    font-size: 24px;

    width: 343px;
    height: 116px;

    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #161233;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.text_bold{
    font-family: 'Nunito';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.text_title_small{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}



#sandtime{
    margin-left: 40%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50%;
    margin-right: 50%;

}



.start__forpsycho{
    font-weight: 500;
    font-family: 'Lora';
    font-size: 16px;
    background: rgba(243, 224, 218, 1);
    color: rgba(103, 44, 5, 1) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    justify-content: center;

    width: 343px;
    height: 36px;

    background: #F3E0DA;
    border-radius: 12px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.img{
    margin: 10px auto 20px;
    display: block;
}

.start__wishes{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
    

    width: 343px;
    height: 532px;

    background: var(--cl-white);
    border-radius: 32px;

    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.wishes__title{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -10px;
    margin-left: -45%;
}


.wishes__minus{
    margin-bottom: -1em;
    list-style-image: url(media/solar_minus-circle-line-duotone.png);

}

.wishes__plus{
    margin-bottom: -1em;
    list-style-image: url(media/solar_check-circle-line-duotone.png); 

}   


.img_float{
    float: right;

}

#text__right_float{
    margin-left: 50%;
}


.amateur__res{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
    margin-bottom: 30px;


    width: 343px;
    height: 558px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}



.res__star{
    margin-left: -15%;
    margin-bottom: -1em;
    list-style-image: url(media/sstar.png); 
}

#amateur__res__margin1em{
    margin-bottom: -1em;
}

.timeprob{
    gap: 14px;    
}

.practise__irl{
    font-size: 17px;
    font-family: 'Lora';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(243, 224, 218, 1);
    color: rgba(103, 44, 5, 1) ;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 343px;
    height: 36px;

    background: #F3E0DA;
    border-radius: 12px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.practise__problems{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;

    width: 343px;
    height: 462px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;


}



.difficulties{
    display: block;

}

.difficulties__title{


    font-family: 'Lora';
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;


}

.difficulties__firstim{
    float: right;
    margin-top: 10%;
    margin-right: 18%;
}



.difficulties__secondim{
    float: left;
    margin-top: 5%;
    margin-left: 15%;

}

.difficulties__thirdim{
    float: right;
    margin-top: 5%;
    margin-right: 20%;
}

.difficulties__text{
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    flex: none;
    order: 6;
    flex-grow: 0;
    z-index: 6;
}

#difficulties__text__rightside{
    margin-left: 40%;
}

#difficulties__text__marginbottom{
    margin-bottom: 2em;
}

.solve__list{
    list-style-image: url(media/blueminum.png); 

}


.anxeity__title{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 10px;

    width: 343px;
    height: 135px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}

#anxiety__texttitle__center{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


#anxiety__text__center{
    text-align: center;
}

#anxiety__semititle{
    font-family: 'Nunito';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;


}


.waste__title{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 10px;

    width: 343px;
    height: 600px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

#waste__title__center{
    text-align: center;
    margin: 5%;
}

#waste__text__center{
    text-align: center;
}


.waste__img{   
    margin: 10px auto 20px;
    display: block;
    align-items: center;
    margin-bottom: 1em;

}

#waste__text__600w{
    font-weight: 600;
}

.aboutme__img{
    margin-top: -10%;
    float: left;
}

.aboutme_name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 50%;
    margin-top: 18%;
}
#aboutme__text__rightside{
    margin-top: -1em;
    margin-left: 50%;
}

.aboutme__vector{
    margin-top: 10%;
}

.aboutme__maintext{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}

.aboutme__ul__leftside{
    margin-left: -1em;
}

.aboutme__list{
    list-style-image: url(media/orangeminum.png); 

}


.crowdfinding{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 16px;
    isolation: isolate;

    width: 343px;
    height: 305px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

}

#crowdfinding__text__w600{
    margin-top: 1em;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.crowdfinding__ul{
    margin-left: -1em;
    margin-top: -1em;

}

.crowdfindng__li{

    list-style-image: url(media/orangeminum.png); 
}

.support__title{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}

.support__semititle{


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

}

.support__ul{
    margin-left: -1em;
}

.support__list__star{
    
    list-style-image: url(media/sstar.png); 
}

.support__list__minum{
    list-style-image: url(media/orangeminum.png); 
}

.support__step{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 16px;
    isolation: isolate;

    width: 343px;
    height: 320px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

}


.support__list__plus{
    list-style-image: url(media/prangeplus.png); 

}
.support__ul__margintop{
    margin-left: -2em;
    margin-top: -1em;
    margin-bottom: -1em;
}


.nextlvl__title{


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

}


.nextlvl__work{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    gap: 3px;

    width: 343px;
    height: 300px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;

}


.nextlvl__img__leftside{
    float: left;
}


#nextlvl__text__leftside{
    margin-left: 15%;
    margin-top: -2em;
}

.nextlvl__li__orangminum{
    margin-left: -1em;
    list-style-image: url(media/orangeminum.png); 
}

.nextlvl__li__greenplus{
    margin-left: -1em;
    list-style-image: url(media/solar_check-circle-line-duotone.png); 
}

.nextlvl__li__orangeplus{
    margin-left: -1em;
    list-style-image: url(media/prangeplus.png);    
}

.howto__titleblock{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;

    width: 343px;
    height: 635px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 10;
    align-self: stretch;
    flex-grow: 0;
    z-index: 10;

}

#howto__text__grayf{
    color: #c4c4c4;
    margin-bottom: -1em;
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Nunito';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;


}

#howto__texttitle__margin{
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#howto__text__grays{
    color: #c4c4c4;
    margin-top: -1em;
    margin-left: 70%;
    font-family: 'Nunito';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}


#howto__text__grayt{
    color: #c4c4c4;
    margin-top: -2px;
    margin-left: 3%;
    font-family: 'Nunito';
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

#howto__text__center{
    margin-top: 2%;
    text-align: center;
    align-self: center;
    margin-left: 12%;
    margin-right: 12%;
}


#howto__img__center{
    position: absolute;
    bottom: 0;
    margin-left: 5%;
}

.howto__confidence{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 10%;

    width: 343px;
    height: 315px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

#confidence__text__rightside{
    margin-left: 10%;
}


.confidence__img{
    float: left;
}

#confidence__text__rightside{
    margin-left: 10%;
    margin-top: -2em;

}

.practise__ul{
    margin-left: -1em;    
}

.practise__li__star{
    list-style-image: url(media/sstar.png); 

}

#practise__img__center{
    margin: 10px auto 20px;
    display: block;
}

.practise_therapy{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;

    width: 343px;
    height: 945px;

    background: #FFFFFF;
    border-radius: 32px;

    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 0;

}

#therapy__titletext{
    font-size: 18px;
    float: left;
}


#therapy__text{
    margin-top: 5%;
    margin-left: 45%;
}

.practise__li__orangeplus{
    list-style-image: url(media/prangeplus.png);    

}

.plactise__li__star{
    list-style-image: url(media/sstar.png); 
    
}

.analysis__titleblock{

    flex-direction: column;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;

    width: 343px;
    height: 400px;

    background: #FFFFFF;
    border-radius: 32px;

}

.analysis__li__orangeplus{
    margin-left: -1em;
    list-style-image: url(media/prangeplus.png);    

}

#analysis__text__w600{
    font-weight: 600;
    font-size: 18px;
    

}

.analysis__text__session{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;




    padding: 8px 16px;

    width: 247px;
    height: 41px;

    background: #F3E0DA;
    border-radius: 12px;
    color: rgba(103, 44, 5, 1) ;

}

.analysis__diagnostic{


    margin-top: 1.5em;


    flex-direction: column;
    padding: 5%;

    width: 343px;
    height: 460px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12.3px rgba(57, 48, 202, 0.2);
    border-radius: 32px;

}


.diagnostic__li__orangeplus{
    margin-left: -1em;
    list-style-image: url(media/prangeplus.png);    
}


#analysis__text__center{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

}


.analysis__session{
    margin-right: -20px;
    padding: 5%;
    width: 343px;
    height: 109px;
    display: flex;
    gap: 18px;
}

.analysis__session__block{
    
    margin: -5px;
    padding: 16px;
    display: inline-block;
    width: 109px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(57, 48, 202, 0.2);
    border-radius: 12px;
}

.analysis__sessiontxt{
    text-align: center;
}

.analysis__sessionimg{
    margin-top: 10%;
    margin-left: 35%;
}

.analysis__li__orangeplus{
        list-style-image: url(media/prangeplus.png);    
}


.analysis__want{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 10px;

    width: 343px;
    height: 51px;

    background: linear-gradient(90deg, #6C63FF 0%, #E77D3B 100%);
    border-radius: 16px;

}

.analysis__vector{
    margin-top: 10%;
    float: right;
}


.want__text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--cl-white);

}

.analysis__prise{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}